<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"
        ></button>
        <button
                type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"
        ></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://domf5oio6qrcr.cloudfront.net/medialibrary/11499/3b360279-8b43-40f3-9b11-604749128187.jpg" class="d-block w-100" alt="Wild Landscape"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h3 class="mb-4">
                    <strong>Nikmati kemudahan berbelanja kebutuhan dapur anda dengan PaDi. Jadi, anda tidak perlu repot-repot ke pasar lagi.</strong>
                </h3>
                <p>
                    <strong>PaDi menjamin kualitas dan kesegaran produk untuk keluarga tersayang Anda.</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Bumbu_dan_Rempah_-_rempah.jpg/1024px-Bumbu_dan_Rempah_-_rempah.jpg" class="d-block w-100" alt="Camera"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h3 class="mb-4">
                    <strong>Nikmati kemudahan berbelanja kebutuhan dapur anda dengan PaDi. Jadi, anda tidak perlu repot-repot ke pasar lagi.</strong>
                </h3>
                <p>
                    <strong>PaDi menjamin kualitas dan kesegaran produk untuk keluarga tersayang Anda.</strong>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://rs.ui.ac.id/umum/files/artikel-populer/20220726105259-1.png" class="d-block w-100" alt="Exotic Fruits"/>
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h3 class="mb-4">
                    <strong>Nikmati kemudahan berbelanja kebutuhan dapur anda dengan PaDi. Jadi, anda tidak perlu repot-repot ke pasar lagi.</strong>
                </h3>
                <p>
                    <strong>PaDi menjamin kualitas dan kesegaran produk untuk keluarga tersayang Anda.</strong>
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>